<h1>Edit Employee</h1>

<%= form_for [@division, @employee] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :position %>
  <%= f.text_area :position %>
  <p><%= f.submit %></p>
<% end %>
